/* ZIRBENNEST COLOR PALETTE
cream: #F1EAA5
light beige: #DAD5A0
taupe: #BCB894
warm gray: #88867B
olive-charcoal: #4A4A36
ink: #2E251F
dusty blue: #529AE1
navy: #2F425C
*/

* {
  outline: 3px solid hotpink !important;
}

/* Buttons */
.mdc-button--raised.mdc-button--primary:not(:disabled),
.mdc-button--unelevated.mdc-button--primary:not(:disabled) {
  background-color: #2E251F !important;
  color: #F5F1E8 !important;
}

.mdc-button--raised.mdc-button--default:not(:disabled),
.mdc-button--unelevated.mdc-button--default:not(:disabled) {
  background-color: #F1EAA5 !important;
  color: #2E251F !important;
}

.mdc-button--raised.mdc-button--secondary:not(:disabled),
.mdc-button--unelevated.mdc-button--secondary:not(:disabled) {
  background-color: #88867B !important;
  color: #F5F1E8 !important;
}

/* Calendar */
.ac__table-item--arrival-possible .ac__table-item-inner {
  background: #BCB894 !important;
  color: #2E251F !important;
}

.ac__table-item--available .ac__table-item-inner {
  background: #DAD5A0 !important;
  color: #2E251F !important;
}

.ac__table-item--not-availabile .ac__table-item-inner {
  background: #88867B !important;
  color: #F5F1E8 !important;
}

.ac__table-item--only-departure .ac__table-item-inner {
  background: #DAD5A0 !important;
  color: #2E251F !important;
}

.ac__table-item-skew {
  background: #2F425C !important;
}

/* Legend */
.ac__legend-item-indicator {
  border-color: #BCB894 !important;
}

.ac__legend-item--regular .ac__legend-item-indicator {
  background: #BCB894 !important;
}

.ac__legend-item--disabled .ac__legend-item-indicator {
  background: #DAD5A0 !important;
}

.ac__legend-item--semi .ac__legend-item-indicator {
  background: linear-gradient(-45deg, #2F425C 50%, #DAD5A0 50%) !important;
  border-color: #DAD5A0 !important;
}

.ac__legend-item--none .ac__legend-item-indicator {
  background: #88867B !important;
  border-color: #88867B !important;
}
